.form {
    &-global {
        background-color: $primary-color;
        padding: 104px 0;
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
        @include media-down(md) {
            padding: 64px 0;
        }
        @include media-down(ms) {
            margin-top: 100px;
        }
    }
    &-description {
        position: relative;
        z-index: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        @include media-down(md) {
            margin-bottom: 24px;
        }
        @include media-down(lsm) {
            justify-content: start;
            align-items: start;
            text-align: left;
        }
        &-title {
            color: $white;
            margin-bottom: 8px;
            width: 60%;
            letter-spacing: 0.5px;
            @include media-down(xl) {
                width: 100%;
            }
            @include media-down(md) {
                font-size: $h3-mobsize;
                line-height: $h3-mobheight;
            }
        }
        &-text {
            letter-spacing: 0.5px;
            p {
                color: $colorText-secondary;
            }
        }
    }
    &-contact {
        display: flex;
        position: relative;
        z-index: 1;
        @include media-down(md) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 568px;
            margin: 0 auto;
        }
    }
    &-image {
        display: flex;
        @include media-down(md) {
            margin: 0 0 24px 0;
        }
    }
    &-wrapper {
        margin-bottom: 32px;
        position: relative;
        &-button {
            margin-top: 40px;
            margin-bottom: 0;
            @include media-down(md) {
                margin-top: 20px;
            }
            .btn-secondary {
                border: none;
                width: 100%;
                font-size: $base-size;
                line-height: $base-height;
                @include media-down(md) {
                    padding: 16px 40px;
                }
            }
        }
        .label {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 24px;
            transform: translateY(-50%);
            p {
                color: $color-text;
            }
            span {
                color: $star-color;
            }
        }
    }
}
.form-application {
    margin: 0;
    width: 51%;
    padding-left: 24px;
    @include media-down(md) {
        width: 100%;
        padding-left: 0;
    }
    input {
        padding: 16px 24px;
        border-radius: 8px;
        width: 100%;
        font-size: $base-size;
        line-height: $base-height;
        font-weight: 400;
        @include media-down(lsm) {
            padding: 8px 16px;
            line-height: $h3-mobheight;
        }
        &:focus {
            &::placeholder {
                font-size: 0;
            }
        }
    }
}
.wpcf7 form.failed {
    border-color: #dc3232;
    color: $white;
    padding: 10px;
}
.wpcf7 form.sent {
    .wpcf7-response-output {
        display: none;
    }
}
.wpcf7-not-valid-tip {
    position: absolute;
    font-size: $mobile-size;
    margin-top: 3px;
}
.wpcf7 form .wpcf7-response-output {
    margin: 20px 0 0 0;
    color: $white;
    padding: 0;
    font-size: $min-size;
    border: none;
    border-bottom: 1px solid;
    width: 60%;
}