* {
	box-sizing: border-box;
}
.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
.container-gl {
    max-width: 1448px;
    margin: 0 auto;
    padding: 0 20px;
}
body {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
	font-size: $base-size;
	color: $color-title;
	margin: 0;
    background-color: $body;
    line-height: $base-height;
    @include media-down(ms) {
        font-size: $mobile-size;
        line-height: $mobile-height;
    }
}
a,
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
img {
	max-width: 100%;
    display: block;
    height: auto;
}
p {
    color: $color-text;
    margin: 0;
}
h1 {
    font-weight: 700;
	font-size: 66px;
	line-height: 68px;
	margin: 0;
    color: $white;
    @include media-down(xxl) {
        font-size: $h1-size-xxl;
        line-height: $h1-height-xxl;
    }
    @include media-down(ml) {
        font-size: $mobile-big-size;
        line-height: $mobile-big-height;
    }
}
h3 {
    font-weight: 700;
	font-size: $big-size;
	line-height: $big-height;
	margin: 0;
    color: $color-title;
    @include media-down(md) {
        font-size: $h3-mobsize;
	    line-height: $h3-mobheight;
    }
}
h4 {
    font-weight: 700;
    font-size: $sm-size;
    line-height: 26px;
	margin: 0;
    color: $color-title;
}
h5 {
    font-weight: 700;
    font-size: $base-size;
    line-height: $base-height;
	margin: 0;
    color: $white;
}
.section {
    margin: 104px 0;
    @include media-down(ms) {
        margin: 64px 0;
    }
}
.wrapper {
    padding-top: 97px;
}
