.header {
    &-top {
        background-color: $header-top-bg;
        &-contacts {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2px 0;
        }

        &-language {
            display: flex;
            align-items: center;
            justify-content: center;
            .dropdown {
                &-toggle {
                    color: $white;
                    &.show::after {
                        content: '';
                        transform: rotate(180deg);
                    }
                }
            }
        }
        &-wrapper {
            #dropdownSocial {
                transition: color .3s;
                svg path {
                    transition: fill .3s;
                }
                &:hover {
                    color: $color-number;
                    svg path {
                        fill: $color-number;
                    }
                }
                @include media-up('961px') {
                    display: none;
                }
                @include media-down('960px') {
                    color: $white;
                    font-size: 12px;
                }
                &::after {
                    content: '';
                    margin-left: 8px;
                }
            }
            .dropdown-menu {
                @include media-up('961px') {
                    position: static!important;
                    display: block!important;
                    min-width: auto;
                    border: none;
                    font-size: inherit;
                    background-color: transparent;
                    transform: translate3d(0,0,0)!important;
                    padding: 0;
                }
            }
            li a {
                transition: color .3s;
                svg path {
                    transition: fill .3s;
                }
                &:hover {
                    color: $color-number;
                    & svg path {
                        fill: $color-number;
                    }
                }
                svg {
                    margin-right: 8px;
                }
            }
        }
        .dropdown-toggle {
            text-transform: uppercase;
            font-size: $min-size;
            transition: color .3s;
            svg path {
                transition: fill .3s;
            }
            &:hover {
                color: $color-number;
                svg path {
                    fill: $color-number;
                }
            }
            svg {
                margin-right: 8px;
            }
        }
        #menu-languages {
            @include reset-list;
            margin-bottom: -16px;
            .menu-item-object-custom {
                padding: 0;
            }
            li a {
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                color: $dropdown
            }
        }
        .dropdown-menu.show {
            padding: 8px
        }
        .dropdown-menu.dropdown-mobile.show {
            li {
                display: flex;
            }
        }
        #menu-languages .sub-menu {
            @include reset-list;
            li a {
                color: $color-title;
            }
        }
        &-contact {
            display: flex;
            @include reset-list;
            @include media-down('960px') {
                flex-direction: column;
            }
            li {
                a {
                    color: $white;
                    font-size: $min-size;
                    line-height: $min-height;
                    margin-right: 56px;
                    transition: color .3s;
                    &:hover {
                        color: $color-number;
                        & svg path {
                            fill: $color-number;
                        }
                    }
                    @include media-down('960px') {
                        color: $color-title;
                        display: flex;
                        align-items: center;
                        padding: 13px 0;
                        margin: 0;
                    }
                    svg {
                        margin-right: 8px;
                        path {
                            transition: fill .3s;
                            &:hover {
                                fill: $color-number;
                            }
                            @include media-down('960px') {
                                fill: $color-title;
                                &:hover {
                                    fill: $color-number;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-nav {
            @include reset-list;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include media-down('960px') {
                flex-direction: column;
                align-items: flex-start;
            }
            @include media-down('492px') {
                justify-content: flex-start;
            }
        }
        .social {
            display: flex;
            align-items: baseline;
            @include reset-list;
            @include media-down('960px') {
                flex-direction: column;
            }
            .title {
               @include media-up('960px') {
                display: none;
               }
            }
            li {
                padding: 0 13px;
                @include media-down('960px') {
                    padding: 13px 0;
                }
                a {
                    color: $color-title;
                    transition: color .3s;
                    svg path {
                        transition: fill .3s;
                    }
                    &:hover {
                        color: $color-number;
                        svg path {
                            fill: $color-number;
                        }
                    }
                    @include media-down('960px') {
                        font-size: 12px;
                        line-height: 14px;
                        &:focus {
                            color: $dropdown;
                        }
                    }
                    svg path {
                        @include media-down('960px') {
                            fill: $color-title;
                        }
                    }
                }
            }
            &-title {
                color: $white;
                font-size: 10px;
                line-height: 14px;
                display: none;
                @include media-down('960px') {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media-down('960px') {
            padding: 16px 0;
        }
        &-navigation {
            @include media-down('960px') {
                &.is-active {
                    display: flex;
                }
            }
        }
        .section-button {
            @include media-down('960px') {
                margin: 0 auto;
                position: relative;
                z-index: 3;
            }
            .btn-secondary {
                @include media-down('440px') {
                    font-size: 14px;
                    line-height: 18px;
                    padding: 8px 14px;
                }
                
            }
        }
        &-logo {
            margin-right: 30px;
            position: relative;
            z-index: 4;
            @include media-down('960px') {
                margin-right: 0;
            }
            svg {
                @include media-down('540px') {
                    max-width: 101px;
                    max-height: 28px
                    
                }
            }
        }
        &-menus {
            @include reset-list;
            display: flex;
            margin: 0 -28px;
            @include media-down('968px') {
                margin: 0 -18px;
            }
            @include media-down('960px') {
                margin: 0 -14px;
            }
            li a {
                padding: 0 28px;
                color: $color-title;
                font-size: $base-size;
                line-height: $base-height;
                transition: color .3s;
                @include media-down('1060px') {
                    padding: 0 12px;
                }
                @include media-down('960px') {
                    font-size: $sm-size;
                    line-height: 20px;
                }
                &:hover {
                    color: $hover-color;
                }
            }
        }
    }
    #burger-nav {
        width: 50px;
        height: 45px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        @include media-down('540px') {
            width: 23px;
            height: 15px;
        }
        &.open {
            @include media-down('540px') {
                width: 23px;
                height: 28px;
            }
        }
        & span {
            display: block;
            position: absolute;
            height: 5px;
            width: 90%;
            background: $primary-color;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            @include media-down('540px') {
                height: 3px;
                width: 100%;
            }
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 16px;
                @include media-down('540px') {
                    top: 7px;
                }
            }
            &:nth-child(3) {
                top: 32px;
                @include media-down('540px') {
                    top: 14px;
                }
            }
        }
        &.open {
            & span:nth-child(1) {
                top: 16px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }
            & span:nth-child(2) {
                opacity: 0;
                left: -60px;
            }
            & span:nth-child(3) {
                top: 16px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
        }
    }
    &-burger {
            position: relative;
            z-index: 3;
        @include media-up('961px') {
            display: none;
        }
    }
    &-wrapper {
        @include media-down('960px') {
            display: none;
            position: absolute;
            z-index: 3;
            left: 14px;
            top: 29px;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            &.is-active {
                display: flex;
            }
        }
        &.header-bottom-menus.is-active {
            background-color: $body;
            font-weight: 500;
        }
        .menu-item-object-custom {
            padding: 24px 0;
        }
    }
    #menu-main,
    #menu-main-ru,
    #menu-menu-pl {
        @include media-down('960px') {
            padding: 156px 0;
        }
    }
}