.labor {
    position: relative;
    z-index: 1;
    &-global {
        .colons-slider {
            margin: 40px 0 30px -12px;
            @include media-down(xl) {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                z-index: 1;
                margin: 24px 0 14px -12px;
                .slick-list {
                    padding-right: 95px;
                }
            }
            & .icon-angle-left,
            & .icon-angle-right {
                position: absolute;
                top: 40%;
            }
            .labor-col {
                padding: 0 12px;
                width: 25%;
                min-height: 374px;
                min-width: 298px;
                @include media-down(xl) {
                    padding: 0 8px;
                }
                @include media-down(xl) {
                    min-width: 280px;
                }
                .labor-card {
                    border-radius: 24px;
                    overflow: hidden;
                    background-color: $white;
                    box-shadow: 0px 8px 24px rgba(18, 18, 18, 0.1);
                    height: 100%;
                }
                .labor-info {
                    padding: 0 24px 24px;
                    @include media-down(md) {
                        padding: 16px;
                    }
                    .labor-title {
                        margin: 16px 0 8px;
                        @include media-down(ms) {
                            margin: 8px 0 4px;
                        }
                        @include media-down(lsm) {
                            font-size: $base-size;
                            line-height: $base-height;
                        }
                    }
                    .number {
                        color: $color-number;
                        font-weight: 700;
                    }
                }
                .labor-img {
                    margin-bottom: 16px;
                    display: flex;
                    justify-content: center;
                    
                }
            }
        }
        .labor-description {
            text-align: center;
            margin-bottom: 40px;
            @include media-down(md) {
                margin-bottom: 24px;
            }
            .labor-title {
                margin-bottom: 8px;
            }
            .labor-text {
                letter-spacing: 0.2px;
            }
        }
        .section-button {
            display: flex;
            justify-content: center;
            align-items: center;
            .btn-primary {
                @include media-down(s) {
                    width: 100%;
                }
            }
        }
    }
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        display: flex;
    }
    .slick-list {
        padding-bottom: 26px;
    }
}
button.slick-prev.slick-arrow,
button.slick-next.slick-arrow {
    font-size: 0;
    border: none;
    background-color: transparent;
    background-size: 100%;
    background-position: 100% 100%;
    padding: 0;
    width: 24px;
    height: 24px;
}
button.slick-prev.slick-arrow {
    background-image: url('../../assets/images/arrow_left.png');
    position: absolute;
    background-repeat: no-repeat;
    z-index: 1;
    bottom: -32%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -32px;
}
button.slick-next.slick-arrow {
    background-image: url('../../assets/images/arrow_right.png');
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    bottom: -32%;
    right: 50%;
    transform: translateX(50%);
    margin-right: -32px;
}